.venv/
.pytest_cache/
logs/

# pipeline data (now under Data-Pipeline/)
Data-Pipeline/data/
Data-Pipeline/.dvc/cache/
Data-Pipeline/.dvc/tmp/
Data-Pipeline/.pytest_cache/
Data-Pipeline/logs/

# DVC cache
.dvc/cache/
.dvc/tmp/

__pycache__/
*.pyc