.venv/
.venv-rl/
.pytest_cache/
logs/
cmd.txt

# pipeline data (now under Data-Pipeline/)
Data-Pipeline/data/
Data-Pipeline/.dvc/cache/
Data-Pipeline/.dvc/tmp/
Data-Pipeline/.pytest_cache/
Data-Pipeline/logs/

# DVC cache
.dvc/cache/
.dvc/tmp/

__pycache__/
*.pyc

model_pipeline/artifacts/*
!model_pipeline/artifacts/.gitkeep
model_pipeline/reports/*
!model_pipeline/reports/.gitkeep

yolov8n.pt
yolov8s.pt
yolov8l.pt
*.pt
runs/
# RL local artifacts
model_pipeline/src/RL/models/rl_bandit_v1.pth
model_pipeline/src/RL/performance_report.png
